*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f4f6f9;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

nav a{

color:white;

text-decoration:none;

margin:10px;

padding:10px 15px;

border-radius:8px;

transition:0.3s;

}

nav a:hover{

background:white;

color:#1e3a8a;

transform:translateY(-3px);

box-shadow:0 0 10px rgba(255,255,255,0.5);

}

.banner{

    text-align:center;

    padding:60px;

    background:#2563eb;

    color:white;
}

.search-box{

    text-align:center;

    margin:30px;
}

.search-box input{

    width:300px;

    padding:10px;
}

.search-box button{

    padding:10px;
}

.product{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;
}

.card{

    background:white;

    width:250px;

    margin:20px;

    padding:20px;

    border-radius:10px;

    box-shadow:0 0 10px gray;

    text-align:center;
}

.card:hover{

    transform:translateY(-5px);

    transition:0.3s;
}

button{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px;

    cursor:pointer;

    margin-top:10px;
}

button:hover{

    background:#1e40af;
}


.product-detail{

background:white;

width:600px;

margin:40px auto;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

text-align:center;

}

.money-box{

text-align:center;

margin:40px;

}

.admin{

text-align:center;

margin-top:40px;

}

.admin input{

padding:10px;

width:300px;

}

table{

width:70%;

margin:30px auto;

background:white;

}

th,td{

padding:15px;

}